h1 {
    color: red;
    text-shadow: 3px 2px 5px rgba(128,0,0,0.3);
    text-align: center;
}

h2, h3 {
    color: darkred;
}
#graphe {
    background-color: rgba(200,220,100,0.8); 
    border-spacing: 0; 
    border-radius: 16px;
    padding: 20px;
    box-shadow: 6px 4px 10px rgba(0,0,0,0.2);
}
#graphe td {
    width: 64 px;
    min-width: 56px;
    height: 64px;
}
.sommet {
    border: 2px solid brown;
    background-color: lightgreen;
    border-radius: 50%;
    cursor: pointer;
}

.rose {
    background-color: pink;
}

.est {
    background-image: url('../img/est.png');
    background-size: 64px;
    background-repeat: no-repeat;
}
.nord {
    background-image: url('../img/nord.png');
    background-size: 64px;
    background-repeat: no-repeat;
}

.est:hover, .nord:hover {
    cursor: grab;
}

	.pion { display: inline-block; list-style-type: none; margin: 0px; transform: scale(0.5); width: 60px; height: 60px; }
	.rouge { 
    background-image: url('../img/unicorn.png');
    background-size: 52px;
    background-repeat: no-repeat;
    }
	.bleu { 
    background-image: url('../img/horse.png');
    background-size: 52px;
    background-repeat: no-repeat;
    }
	.pion:hover { cursor: grabbing; }
